* {
  box-sizing: border-box;
  background-color: RGBA(255, 250, 234, 1);
  font-family: 'Poiret One', cursive; }

.headline {
  font-size: 72px;
  margin: 30px;
  color: RGBA(72, 50, 12, 1);
  font-weight: light;
  display: block; }

.location1 {
  position: absolute;
  top: 93%;
  left: 30px; }

.location2 {
  position: absolute;
  top: 96%;
  left: 30px; }

ul {
  display: inline-block;
  padding: 0;
  margin-left: 40px; }

li {
  list-style-type: none;
  margin: 10px;
  font-size: 30px;
  color: RGBA(72, 50, 12, 1); }

a {
  text-decoration: none; }

ul:hover a li {
  color: RGBA(207, 209, 210, 1); }

a:hover li {
  color: RGBA(72, 50, 12, 1) !important; }

.beforePic {
  width: 150px;
  position: absolute;
  top: 300px;
  left: 500px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 1; }

.afterPic {
  width: 150px;
  position: absolute;
  top: 300px;
  left: 500px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0; }

.picTransition:hover .beforePic {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0; }

.picTransition:hover .afterPic {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 1; }

nav {
  display: inline-block; }

nav a {
  text-decoration: none;
  display: inline-block;
  color: RGBA(72, 50, 12, 1);
  margin: 8px;
  font-size: 22px; }

a h1 {
  display: inline-block;
  margin-right: 75px; }

nav:hover a {
  color: RGBA(207, 209, 210, 1); }

a:hover {
  color: RGBA(72, 50, 12, 1) !important; }

.shopHeadline {
  font-size: 50px;
  margin: 40px;
  color: black; }

.storeHead {
  font-size: 30px;
  margin: 0 0 50px 130px; }

.productDiv {
  width: 100%;
  margin-left: 100px;
  position: relative; }

.productDivider {
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  border-bottom: 1px solid #cacaca; }

.productImg {
  width: 85px;
  position: absolute;
  top: 0;
  left: 50px;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.productTitle {
  position: absolute;
  top: 10px;
  left: 150px;
  font-size: 22px;
  font-family: 'Arial', sans-sarif; }

.desc {
  font-weight: bold;
  position: absolute;
  top: 50px;
  left: 150px;
  font-family: 'Arial', sans-sarif; }

.productDesc {
  position: absolute;
  top: 50px;
  left: 150px;
  font-family: 'Arial', sans-sarif; }

.productDimensions {
  position: absolute;
  top: 75px;
  left: 150px;
  font-family: 'Arial', sans-sarif; }

.productPrice {
  position: absolute;
  top: 110px;
  left: 150px;
  font-family: 'Arial', sans-sarif; }

.buyBtn {
  position: absolute;
  top: 110px;
  left: 250px; }
