<a href="/#/">
  <span class="shopHeadline">Naked Totems</span>
</a>

<nav>
  <a href="/#/shapes">Shapes</a>

  <a href="/#/totems">Totems</a>

  <a href="/#/birdbaths">Birdbaths</a>

  <a href="/#/tables">Tables</a>

  <a href="/#/mirrors">Mirrors</a>

  <a href="/#/materials">Materials</a>

  <a href="/#/about">About</a>

  <a href="/#/contact">Contact</a>
</nav>

<h2 class="storeHead">Birdbaths & Accessories</h2>

<div class="productDiv">
  <img class="productImg" src="images/birdbath_base.png" alt="Birdbath Base">
  <span class="productTitle">Birdbath Base - Hardibacker and Lightweight Cement</span>
  <span class="productDesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quae debitis, nobis illo ducimus commodi molestias...</span>

  <span class="productDimensions">Dimensions: 48" x 10" x 10"  Weight: 15 lbs</span>
  <span class="productPrice">Price: $59.99</span>
  <img class="buyBtn" src="images/btn_cart_SM.gif" alt="Paypal link">
</div>

