<h1>Naked Totems</h1>

<ul>
  <a href="/#/shapes">
    <li>Shapes</li>
  </a>

  <a href="/#/totems">
    <li>Totems</li>
  </a>

  <a href="/#/birdbaths/">
    <li>Birdbaths</li>
    <div class="picTransition">
      <img class="beforePic" src="images/birdbath_base.png" alt="Birdbath Base">
      <img class="afterPic" src="images/birdbath_complete.png" alt="Mosaic Birdbath">
    </div>
  </a>

  <a href="/#/tables">
    <li>Tables</li>
  </a>

  <a href="/#/mirrors">
    <li>Mirrors</li>
  </a>

  <a href="/#/materials">
    <li>Materials</li>
  </a>

  <a href="/#/about">
    <li>About</li>
  </a>

  <a href="/#/contact">
    <li>Contact</li>
  </a>

</ul>

